.rosca-churros {
    max-height: 80vh;
    width: 100%;
    object-fit: cover;
}
.categorias {
        background-color: $secondarycolor; 
        padding: 3rem;
        
        ul {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            align-items: center;
        }
        .boton-categoria {
            background-color: transparent;
            border: 0;
            color: $chocolatecolor;
            font-size: 1.8em;
            font-weight: 550;
        }
        .boton-categoria.active {
            transform: scale(1.1);
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
            transition: background-color 0.3s ease; 
            padding: .5rem;
        }
}
.cart-icon {
    display: flex;
    align-items: baseline;
    justify-content: baseline;
    gap: .2rem;

    .numerito_carrito {
        color: whitesmoke;
        font-size: 1.7rem;
    }
}

.title-tienda {
    margin: 5rem 0 2rem 4rem;
} 

.tienda {
    display: flex;
    justify-content: center;

    .container-product {
        width: 60rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4rem;
        padding: 1rem 1rem 3rem 1rem;

        .product {
            width: 100%;
            display: flex;
            flex-direction: column;
         
            img {
                max-width: 100%; 
                object-fit: cover;
            } 

            .product-info {
                color: $chocolatecolor;
                display: flex;
                flex-direction: column;
                flex-grow: 1;
            
                .product-title {
                    font-size: 1.2rem;
                }

                .product-description {
                    letter-spacing: 1px;
                    font-size: 1rem;
                    flex-grow: 1;
                }

                .product-price {
                    font-size: 1.2rem;
                    text-align: center;
                    font-weight: bold;
                }

                .add-cart {
                    border: 0;
                    background-color: $chocolatecolor;
                    color: white;
                    border-radius: 5px;
                    font-size: 1rem;
                    padding: .5rem;
                    cursor: pointer;
                    border: 2px solid white;
                    transition: background-color 0.5s, color 0.5s;
                
                    &:hover {
                        background-color: white;
                        color: $chocolatecolor;
                    }
                }
            }
        }
    }
}